html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.js-input {
  display: block;
  font-size: 20px;
  margin: 100px auto 0; 
  padding: 10px 10px;
  width: 500px; 
}

.wrapper {
  max-width: 1120px;
  padding: 30px;
  margin: 0 auto;
  height: 100%;
}

.country__title {
  font-size: 50px;
  text-align: center;
}

.country__title--name {
  font-size: 25px;
}

.country__subtitle {
  font-size: 30px;
  color: #000;
  font-weight: bold;
}

.js-countries__list {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}
